{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>Welcome to the Galaxy. Let's Read!</h1>
    <div>
    <img src="https://media.istockphoto.com/id/1308595699/photo/book-of-the-universe-opened-magic-book-with-planets-and-galaxies-elements-of-this-image.jpg?s=612x612&w=0&k=20&c=jvopWDHRM-KyPZ57FynEQ2XlQI6OyPJqHwCk0_--o5g=" width="650" height="400" alt="book in space">
    </div>
    <p class="lead">Looking for your next SciFi title? We've got you covered with the top 7 books of the year. Order today.</p>

    <p><i>P.S. Don't forget to login to save your order.</i></p>

{% endblock %}
